{%macro cio_ignore(svols, ifaces) -%}
{% set cio_ignore_devnos = [] -%}
{% for svol in svols -%}
  {%if svol['type'] == 'DASD' and svol['is_root'] -%}
    {% set _ = cio_ignore_devnos.append('!0.0.' + svol['volume_id']) -%}
  {% elif svol['type'] == 'FCP' and svol['is_root'] -%}
     {% for adapter in svol['specs']['adapters'] -%}
       {% set _ = cio_ignore_devnos.append('!' + adapter['devno']) -%}
     {% endfor -%}
  {%- endif %}
{%- endfor -%}
{% for iface in ifaces -%}
  {% if iface['type'] == 'OSA' -%}
     {% set iface_devnos = iface['attributes']['ccwgroup'].split(',') -%}
     {% set _ = cio_ignore_devnos.append('!' + iface_devnos[0] + '-' + iface_devnos[2]) -%}
  {% endif -%}
{%- endfor -%}
cio_ignore=all,!condev,{{ cio_ignore_devnos | join(',') }}
{%- endmacro %}
{% macro iface_parse(iface) -%}
{% if iface['type'] == 'OSA' -%}
  {% if iface['attributes']['layer2'] -%}
    {% set layer2 = "true" -%}
  {% else -%}
    {% set layer2 = "false" -%}
  {% endif -%}
s390-netdevice/choose_networktype=qeth s390-netdevice/qeth/choose={{'-'.join(iface['attributes']['ccwgroup'].split(','))}} s390-netdevice/qeth/layer2={{layer2}} s390-netdevice/qeth/port={{iface['attributes']['portno']}} netcfg/choose_interface={{iface['systemd_osname']}}
{%- else -%}
s390-netdevice/choose_networktype=virtio netcfg/choose_interface={{iface['mac_addr']}}
{%- endif -%}
{%- endmacro %}
{% macro dns_list(ifaces) -%}
{% set dns_list = [config['gw_iface']['dns_1']] -%}
{% for iface in ifaces -%}
  {% if not iface['is_gateway'] -%}
    {% if iface['dns_1'] -%}
      {% set _ = dns_list.append(iface['dns_1']) -%}
    {%- endif -%}
    {% if iface['dns_2'] -%}
      {% set _ = dns_list.append(iface['dns_2']) -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{{dns_list | join(',')}}
{%- endmacro %}
{% if config['system_type'] != 'KVM' %}{{cio_ignore(config['svols'], config['ifaces'])}} zfcp.allow_lun_scan=0 zfcp.dif=0{% endif %} {{iface_parse(config['gw_iface'])}} netcfg/use_autoconfig=false netcfg/disable_autoconfig=true {% if config['gw_iface']['vlan'] %}netcfg/vlan_id={{config['gw_iface']['vlan']}}{% endif %} netcfg/get_ipaddress={{config['gw_iface']['ip']}} netcfg/get_netmask={{config['gw_iface']['mask']}} netcfg/get_gateway={{config['gw_iface']['gateway']}} netcfg/get_nameservers={{config['gw_iface']['dns_1']}} netcfg/confirm_static=true priority=critical url={{config['autofile']}} network-console/password={{config['credentials']['installation-password']}} network-console/password-again={{config['credentials']['installation-password']}} network-console/start=continue
