{% macro iface_name(iface, with_vlan=True) -%}
{% if iface['vlan'] and with_vlan %}{{iface['osname']}}.{{iface['vlan']}}{% elif iface["type"] != "OSA" %}{{iface['osname']}}{% else %}{{iface['systemd_osname']}}{% endif %}
{%- endmacro %}
{%macro cio_ignore(svols, ifaces) -%}
{% set cio_ignore_devnos = [] -%}
{% for svol in svols -%}
  {%if svol['type'] == 'DASD' -%}
    {% set _ = cio_ignore_devnos.append('!0.0.' + svol['volume_id']) -%}
  {% elif svol['type'] == 'FCP' -%}
     {% for adapter in svol['specs']['adapters'] -%}
       {% set _ = cio_ignore_devnos.append('!' + adapter['devno']) -%}
     {% endfor -%}
  {%- endif %}
{%- endfor -%}
{% for iface in ifaces -%}
  {% if iface['type'] == 'OSA' -%}
     {% set iface_devnos = iface['attributes']['ccwgroup'].split(',') -%}
     {% set _ = cio_ignore_devnos.append('!' + iface_devnos[0] + '-' + iface_devnos[2]) -%}
  {% endif -%}
{%- endfor -%}
cio_ignore=all,!condev,{{ cio_ignore_devnos | join(',') }}
{%- endmacro %}
{% if config["gw_iface"]["type"] == "OSA" %}
  {% set ccwgroup = config["gw_iface"]["attributes"]["ccwgroup"].split(',') %}
  {% set special_args %} {{cio_ignore(config['svols'], config['ifaces'])}} MANUAL=0 ReadChannel={{ccwgroup[0]}} WriteChannel={{ccwgroup[1]}} DataChannel={{ccwgroup[2]}} InstNetDev=osa Layer2={% if config["gw_iface"]["attributes"]["layer2"] %}1{% else %}0{% endif %} OSAHWAddr={% if config["gw_iface"]["mac_addr"] %}{{config["gw_iface"]["mac_addr"]}}{% endif %} OSAInterface=qdio PortNo={{config["gw_iface"]["attributes"]["portno"]}} {% endset %}
{% else %}
  {% set special_args %} {{cio_ignore(config['svols'], config['ifaces'])}} Netdevice={{config["gw_iface"]["mac_addr"]}}{% endset %}
{% endif %}
{% if config["operating_system"]["major"] == 15 and config["operating_system"]["minor"] > 1 %}
      {% set io_auto_configuration -%} deviceautoconfig=0 {%- endset %}
{% endif %}
{% if config["gw_iface"]["type"] == "OSA" %}
ro init=/linuxrc term=dumb HostIP={{config["gw_iface"]["ip"]}} Netmask={{config["gw_iface"]["mask"]}} Gateway={{config["gw_iface"]["gateway"]}} Nameserver={{config["gw_iface"]["dns_1"]}} Hostname={{config["hostname"]}} {% if config["gw_iface"]['vlan'] %}vlanid={{config["gw_iface"]["vlan"]}}{% endif %} linuxrclog=/dev/console Install={{ config["repos"][0]['url'] }} vnc=1 vncpassword={{config["credentials"]["installation-password"]}} ssh=1 sshpassword={{config["credentials"]["installation-password"]}} start_shell autoyast={{ config["autofile"] }} {{special_args}} {{io_auto_configuration}}
{% else %}
ro init=/linuxrc term=dumb net.ifnames=1 ifcfg={{iface_name(config["gw_iface"])}}="{{config["gw_iface"]["ip"]}}/{{config["gw_iface"]['mask_bits']}},{{config["gw_iface"]["gateway"]}},{{config["gw_iface"]["dns_1"]}}" hostname={{config["hostname"]}} {% if config["gw_iface"]['vlan'] %}vlanid={{config["gw_iface"]["vlan"]}}{% endif %} linuxrclog=/dev/console Install={{ config["repos"][0]['url'] }} vnc=1 vncpassword={{config["credentials"]["installation-password"]}} ssh=1 sshpassword={{config["credentials"]["installation-password"]}} start_shell autoyast={{ config["autofile"] }} {{special_args}} {{io_auto_configuration}}
{% endif %}
